* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #08cfb5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9fafb;
}

/*=====Individual Sections=====*/
/*Startup*/
#Startup div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
/*Login*/
#Login div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
/*Information*/
#Information div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
/*Home*/
#Home div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
