* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #08cfb5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9fafb;
}
a {
  display: block !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  text-align: center;
  font-size: 1.2em;
}
p {
  display: block;
  margin-bottom: 15px;
  font-size: 2.2em;
  font-weight: 530;
  font-family: 'Inter', sans-serif;
}
h3 {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.btn-primary {
    display: inline-block;
    padding: 12px 20px;
    background-color: #02d1c0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s ease;
}
.btn-primary:hover {
    background-color: #02d1c0;
    transform: translateY(1px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.HomeSub {
    flex: 1 1 45%;
    display: inline-block;
    border-radius: 8px;
    background: #02d1c0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
}


/*=====Individual Sections=====*/
/*StartUp*/
#Startup div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 720px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
/*Login*/
#Login div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
/*Information*/
#Information div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
/*Home*/
#Home > div {
    background: #02d1c0;
    padding: 40px;
    border-radius: 12px;
    width: 1080px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
